body{
   font-family: 'Bitter', serif;
   background-color: #D2B4DE;
}
.logo{
    background-color: #6C3483;
    width: 100%;
    height: auto;
 }
 #logoIcon{
   width: 36%;
   margin: 0 100px;
 }
 .start{
    margin-top: 30px;
    width: 100%;
    align-content: center;
 }
 #first_title{
    color: #6C3483;
    text-align: center;
 }
 .start input, button{
    width: 90%;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #6C3483;
    font-family: 'Bitter', serif;
}
.start button{
    background-color: #6C3483;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
 }
 .start input{
    padding-left: 10px;
    color: #6C3483;
 }
 ::-webkit-input-placeholder { color: #D2B4DE; }
 :-moz-placeholder { /* Firefox 18- */ color:#D2B4DE; }
 ::-moz-placeholder { /* Firefox 19+ */ color:#D2B4DE; }
 :-ms-input-placeholder { color: #D2B4DE; }
 .start label{
    color: #6C3483;
    margin: 10px;
    font-size: 24PX;
 }
 #sign_google_btn{
   background-color: #C0392B;
}
#sign_facebook_btn{
 background-color: #3B5998;
}
 #welcome{
    background-color: #6C3483;
    text-align: center;
    color: white;
    display: none;
 }
 /* #img_welcome{
    width:40%;
    height:auto;
    margin-top:10px;
 }
 #imgBarbell{
    width: 100%;
 }
 #welcome p {
    width: 100%;
    text-align: center;
    color: white;
    padding: 0 auto;
    margin-top: 10px;
    } */
 #start_btn{
    background-color: #D2B4DE;
    width: 100px;
    height: 30px;
    color: #6C3483;
    align-content: center;
    margin: 0 auto;
 }
#app  img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #6C3483;
}
 textarea{
   width: 100%;
   height: 26%;
   margin-top: 10px;
 }
 #stateButton{
    width: 100%;
    background-color: #6C3483;
    color: white;
    font-weight: bold;
 }
 #public, #private{
    margin-top: 10px;
    justify-content: right;
 }
 #sign_off_btn {
    width: 30%;
    height: 30px;
    margin-left: 70%;
 }
 #postContainer{
    border: solid white;
 }
 @media only screen and (min-width: 768px) {
    body{
       align-content: center;
    }
   #logoIcon {
      width: 15%;
      margin: 0;
   }
   .start{
        margin-left: 34%;
        width: 30%;
    }
   #first_title{
      margin-left:-8px;
   }
   #stateButton{
      width: 90px;
   }
   textarea{
      width: 50%;
   }
   #logout_btn{
      width: 60px;
      margin-left: 0px;
   }
   #welcome{
      width:100%;
      height: 100%;
   }
}
 
