body{
   font-family: 'Bitter', serif;
   background-color: #D2B4DE;
}
.logo{
    background-color: #6C3483;
    width: 100%;
    height: auto;
    margin-bottom: 0;
 }
 #logoIcon{
   width: 40%;
   margin: 0 90px;
 }
 .start{
    width: 100%;
    align-content: center;
    background-image: url(../img/athlete-barbell-body-1552249.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
 #first_title{
    color: white;
    text-align: center;
    margin-top: 15px;
 }
 .start input, #text_email, #text_password{
    width: 90%;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #6C3483;
    font-family: 'Bitter', serif;
    padding-left: 10px;
    color: #6C3483;
    margin-top: 0;
}
.start #login_btn, #register_btn{
   width: 90%;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #6C3483;
    background-color: #6C3483;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
 }
#sign_google_btn img{
    width: 50px;
    height: auto;
    border-radius: 50px;
    margin-left: 100px;
    background-color: blue;
 }
 #sign_facebook_btn i{
    width: 50px;
    height: auto;
    border-radius: 50px;
 }
 #icon_app img{
    width: 100px;
    height: auto;
    margin: 10px 20px;
 }
 ::-webkit-input-placeholder { color: #D2B4DE; }
 :-moz-placeholder { /* Firefox 18- */ color:#D2B4DE; }
 ::-moz-placeholder { /* Firefox 19+ */ color:#D2B4DE; }
 :-ms-input-placeholder { color: #D2B4DE; }

 .start label{
    color: white;
    margin: 0px 10px;;
    font-size: 20PX;
 }
 #welcome{
    background-color: #6C3483;
    text-align: center;
    color: white;
    display: none;
 }
#app img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #6C3483;
}
 #textareaContect{
   width: 100%;
   height: 100px;
   margin-top: 10px;
 }
 #stateButton{
    width: 100%;
    background-color: #6C3483;
    color: white;
    font-weight: bold;
 }
 #public, #private{
    margin-top: 10px;
    justify-content: right;
 }
 #sign_off_btn {
    width: 30%;
    height: 30px;
    margin-left: 70%;
 }
 #txtAreaPost{
    width: 100%;
    height: 100px;
    background-color: #D2B4DE;
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    border: none;
 }
 i{
    display: inline;
 }

 @media only screen and (min-width: 768px) {
    body{
       align-content: center;
       /* background-image: url(../img/athlete-barbell-body-1552249.jpg);
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
    } */
    }
   #logoIcon {
      width: 15%;
      margin: 0;
   }
   .start{
        margin-left: 34%;
        width: 30%;
    }
   #first_title{
      margin-left:-8px;
   }
   #stateButton{
      width: 90px;
   }
   textarea{
      width: 50%;
   }
   #logout_btn{
      width: 60px;
      margin-left: 0px;
   }
   #welcome{
      width:100%;
      height: 100%;
   }
}
 
